<section class="coctails-section">
  <h2 class="coctails-section__title">Cocktails</h2>
  <div class="coctails-section__box">
    <ul class="coctails-section__coctails-list"></ul>
    <div class ="coctails-section__coctail-modal-backdrop coctails-section__coctail-modal-backdrop--is-hidden" >
      <div
      class="coctails-section__coctail-modal coctails-section__coctail-modal--is-hidden"
    >
  </div>
    </div>
    <div class ="coctails-section__ingredient-modal-backdrop coctails-section__ingredient-modal-backdrop--is-hidden" >
      <div
      class="coctails-section__ingredient-modal coctails-section__ingredient-modal--is-hidden"
    >
  </div>
    </div>
  <div class="empty-footer"></div>
</section>
