<header class="page-header">
  <div class="container">
    <nav class="site-nav">
      <a href="./index.html" class="logo">
        <img
          class="mobile-logo"
          src="./images/svg/Group 93.svg"
          alt="logo"
          width="30px"
          height="26px"
        />COCKTAILS</a
      >
      <a href="./index.html"
        ><img
          class="desctop-logo"
          src="./images/svg/Group 36.svg"
          alt="logo"
          width="30px"
          height="26px"
      /></a>
      <ul class="list">
        <li><a class="link" href="./index.html">Home</a></li>
        <li>
          <button class="favorite-btn-desctop" type="button">Favorite</button>
          <ul class="list-box is-hidden">
            <li class="list-item">
              <a class="link" href="/src/favorite-coctails.html"
                >Favorite cocktails</a
              >
            </li>
            <li class="list-item">
              <a class="link" href="./favorite-ingredients.html"
                >Favorite ingredients</a
              >
            </li>
          </ul>
        </li>
      </ul>
      <div class="input-box">
        <div class="input-image-box-tablet">
          <svg class="magnifying-glass">
            <use href="./images/svg/header-sprite.svg#icon-bx_search-1"></use>
          </svg>
        </div>
        <input class="header-input" type="text" placeholder="Search" />
      </div>
      <button
        type="button"
        class="menu-batton"
        aria-expanded="false"
        aria-controls="menu"
        data-menu-button
      >
        <svg width="32px" height="32px" aria-label="mobile menu switcher">
          <use
            class="icon-cross"
            href="./images/svg/header-sprite.svg#icon-clarity_close-line-1"
          ></use>
          <use
            class="icon-menu"
            href="./images/svg/header-sprite.svg#icon-menu-1"
          ></use>
        </svg>
      </button>

      <div class="header-mobile-menu">
        <div class="box">
          <div class="input-box-mobile">
            <div class="input-image-box">
              <svg class="magnifying-glass">
                <use
                  href="./images/svg/header-sprite.svg#icon-bx_search-1"
                ></use>
              </svg>
            </div>
            <input
              class="header-input-mobile"
              type="text"
              placeholder="Search"
            />
          </div>
          <ul class="mobile-list">
            <li><a class="mobile-link" href="./index.html">Home</a></li>
            <li>
              <button type="button" class="mobile-link favorite favorite-btn">
                Favorite
              </button>
            </li>
            <li class="is-hidden">
              <a class="mobile-link" href="./favorite-coctails.html"
                >Favorite cocktails</a
              >
            </li>
            <li class="is-hidden">
              <a class="mobile-link" href="./favorite-ingredients.html"
                >Favorite ingredients</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
